
.userPopout-2j1gM4[data-user-id="596049035970871298"] .profileBadges-2pItdR::before, .userPopout-2j1gM4[vz-user-id="596049035970871298"] .profileBadges-2pItdR::before{
  content: "";
  position: relative;
  width: 20px;
  height: 17px;
  margin: 1.5px 6px 0 0;
  pointer-events: none;
  background: url("https://cdn.discordapp.com/emojis/696484611248881744.gif?size=96&quality=lossless") center/100% no-repeat;
}
.userPopout-2j1gM4[data-user-id="676876732615098398"] .profileBadges-2pItdR::before, .userPopout-2j1gM4[vz-user-id="676876732615098398"] .profileBadges-2pItdR::before{
  content: "";
  position: relative;
  width: 20px;
  height: 17px;
  margin: 1.5px 6px 0 0;
  pointer-events: none;
  background: url("https://cdn.discordapp.com/emojis/696481990807126178.gif?size=96&quality=lossless") center/100% no-repeat;
}
.userPopout-2j1gM4[data-user-id="534458461933666315"] .profileBadges-2pItdR::before, .userPopout-2j1gM4[vz-user-id="534458461933666315"] .profileBadges-2pItdR::before{
  content: "";
  position: relative;
  width: 20px;
  height: 17px;
  margin: 1.5px 6px 0 0;
  pointer-events: none;
  background: url("https://cdn.discordapp.com/emojis/958675596832038932.webp?size=96&quality=lossless") center/100% no-repeat;
}




.message-2CShn3[data-user-id="676876732615098398"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[data-author-id="676876732615098398"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[vz-user-id="676876732615098398"] .username-h_Y3Us,
.channel-1Shao0[data-user-id="676876732615098398"] .overflow-1wOqNV,
.channel-1Shao0[vz-user-id="676876732615098398"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="676876732615098398"] .roleColor-nA7BqX,
.member-2gU6Ar[vz-user-id="676876732615098398"] .roleColor-nA7BqX,
.userPopout-2j1gM4[data-user-id="676876732615098398"] .username-3JLfHz,
.userPopout-2j1gM4[vz-user-id="676876732615098398"] .username-3JLfHz,
.root-8LYsGj[data-user-id="676876732615098398"] .username-3JLfHz {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-animation: shine 10s linear infinite;
          animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,244,0,1) 25%, rgba(255,0,0,1) 50%, rgba(255,244,0,1) 75%, rgba(255,0,0,1) 100%);
}
.message-2CShn3[data-user-id="592057520235872256"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[data-author-id="592057520235872256"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[vz-user-id="592057520235872256"] .username-h_Y3Us,
.channel-1Shao0[data-user-id="592057520235872256"] .overflow-1wOqNV,
.channel-1Shao0[vz-user-id="592057520235872256"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="592057520235872256"] .roleColor-nA7BqX,
.member-2gU6Ar[vz-user-id="592057520235872256"] .roleColor-nA7BqX,
.userPopout-2j1gM4[data-user-id="592057520235872256"] .username-3JLfHz,
.userPopout-2j1gM4[vz-user-id="592057520235872256"] .username-3JLfHz,
.root-8LYsGj[data-user-id="592057520235872256"] .username-3JLfHz {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-animation: shine-reversed 5s linear infinite;
          animation: shine-reversed 5s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, rgba(219,102,228,1) 0%, rgba(255,255,255,1) 50%, rgba(205,120,0,1) 100%);
}

.message-2CShn3[data-user-id="596049035970871298"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[data-author-id="596049035970871298"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[vz-user-id="596049035970871298"] .username-h_Y3Us,
.channel-1Shao0[data-user-id="596049035970871298"] .overflow-1wOqNV,
.channel-1Shao0[vz-user-id="596049035970871298"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="596049035970871298"] .roleColor-nA7BqX,
.member-2gU6Ar[vz-user-id="596049035970871298"] .roleColor-nA7BqX,
.userPopout-2j1gM4[data-user-id="596049035970871298"] .username-3JLfHz,
.userPopout-2j1gM4[vz-user-id="596049035970871298"] .username-3JLfHz,
.root-8LYsGj[data-user-id="596049035970871298"] .username-3JLfHz {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-animation: shine 5s linear infinite;
          animation: shine 5s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, rgba(147,112,219,1) 0%, rgba(116,176,116,1) 25%, rgba(147,112,219,1) 50%, rgba(116,176,116,1) 75%, rgba(147,112,219,1) 100%);
}

.message-2CShn3[data-user-id="534458461933666315"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[data-author-id="534458461933666315"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[vz-user-id="534458461933666315"] .username-h_Y3Us,
.channel-1Shao0[data-user-id="534458461933666315"] .overflow-1wOqNV,
.channel-1Shao0[vz-user-id="534458461933666315"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="534458461933666315"] .roleColor-nA7BqX,
.member-2gU6Ar[vz-user-id="534458461933666315"] .roleColor-nA7BqX,
.userPopout-2j1gM4[data-user-id="534458461933666315"] .username-3JLfHz,
.userPopout-2j1gM4[vz-user-id="534458461933666315"] .username-3JLfHz,
.root-8LYsGj[data-user-id="534458461933666315"] .username-3JLfHz {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-animation: shine-reversed 5s linear infinite;
          animation: shine-reversed 5s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, rgba(213,148,218,1) 50%, rgba(232,227,56,1) 100%);
}
.message-2CShn3[data-user-id="252518313471508480"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[data-author-id="252518313471508480"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[vz-user-id="252518313471508480"] .username-h_Y3Us,
.channel-1Shao0[data-user-id="252518313471508480"] .overflow-1wOqNV,
.channel-1Shao0[vz-user-id="252518313471508480"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="252518313471508480"] .roleColor-nA7BqX,
.member-2gU6Ar[vz-user-id="252518313471508480"] .roleColor-nA7BqX,
.userPopout-2j1gM4[data-user-id="252518313471508480"] .username-3JLfHz,
.userPopout-2j1gM4[vz-user-id="252518313471508480"] .username-3JLfHz,
.root-8LYsGj[data-user-id="temp"] .username-3JLfHz {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-animation: shine-reversed 5s linear infinite;
          animation: shine-reversed 5s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(219,136,183,1) 0%, rgba(91,43,159,1) 39%, rgba(85,42,157,1) 41%, rgba(46,76,171,1) 68%, rgba(0,212,255,1) 100%);
}
.message-2CShn3[data-user-id="444254890563338241"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[data-author-id="444254890563338241"] > :not(.repliedMessage-3Z6XBG) .username-h_Y3Us,
.message-2CShn3[vz-user-id="444254890563338241"] .username-h_Y3Us,
.channel-1Shao0[data-user-id="444254890563338241"] .overflow-1wOqNV,
.channel-1Shao0[vz-user-id="444254890563338241"] .overflow-1wOqNV,
.member-2gU6Ar[data-user-id="444254890563338241"] .roleColor-nA7BqX,
.member-2gU6Ar[vz-user-id="444254890563338241"] .roleColor-nA7BqX,
.userPopout-2j1gM4[data-user-id="444254890563338241"] .username-3JLfHz,
.userPopout-2j1gM4[vz-user-id="444254890563338241"] .username-3JLfHz,
.root-8LYsGj[data-user-id="444254890563338241"] .username-3JLfHz {
  color: transparent !important;
  font-weight: bold;
  background-size: 300%;
  -webkit-animation: shine-reversed 5s linear infinite;
          animation: shine-reversed 5s linear infinite;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, rgb(93, 164, 204) 0%, rgb(132, 208, 142) 19%, rgb(218, 139, 163) 40%, rgb(222, 159, 117) 59%, rgb(219, 88, 88) 79%, rgb(209, 154, 228) 100%);
}

@-webkit-keyframes shine {
  to {
    background-position: 300% center;
  }
}

@keyframes shine {
  to {
    background-position: 300% center;
  }
}
@-webkit-keyframes shine-reversed {
  to {
    background-position: -300% center;
  }
}
@keyframes shine-reversed {
  to {
    background-position: -300% center;
  }
}
